<a href="https://colab.research.google.com/github/nayeon-hub/daily-python/blob/main/python100%EC%A0%9C(34~41).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#문제 34

first = list(input().split())
check = first.copy()
check.sort()
if first == check:
    print("YES")
else :
    print("NO")

first = [int (i) for i in first]
if first == sorted(first):
    print("YES")
else:
    print("NO")

199 290
YES
YES

In [ ]:
#문제 35

def one(n):
    def two(x):
        return x**n 
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [ ]:
#문제 36
gugudan = int(input())

for i in range(1,10):
    print(gugudan*i,end=' ')

2
2 4 6 8 10 12 14 16 18

In [ ]:
#문제 37

name = list(input().split())
count = 0
for i in range(len(name)):
    if name.count(name[i-1]) < name.count(name[i]):
        count = i
print(f'{name[count]}(이)가 총 {name.count(name[count])}표로 반장이 되었습니다.')

a aa aaa aa aa aa a
aa(이)가 총 4표로 반장이 되었습니다.

In [ ]:
#문제 38

score = input('점수입력 : ').split()
score = [int(i) for i in score]
score.sort()
count = 0
m = 0
for i in range(len(score)-1,0,-1):
  if score[i] > score[i-1]:
      count += 1
      if count == 3:
          m = i
          break
print('출력 : ',len(score[m:]))

점수입력 : 97 86 75 66 55 97 85 97 97 95
출력 :  6

In [ ]:
#문제 39 
b = input('입력 : ')
a = list(b)
for i in range(0,len(a)):
    if a[i] == 'q':
        a[i] = 'e'
print('출력 :',''.join(a))

입력 : hqllo my namq is hyqwon
출력 : hello my name is hyewon

In [ ]:
a = input('입력 : ')
print(a.replace('q','e'))
#replace는 string만 가능

입력 : hqllo my namq is hyqwon
hello my name is hyewon

In [13]:
#문제 40

weight = int(input())
n = int(input())
total = 0
count = 0 #count대신에 index값을 사용해도됨
for i in range(n):
    f = int(input())
    total += f
    if total <= weight:
       count += 1
print(count)

50
5
20
20
20
20
20
2

In [14]:
total = 0
count = 0
limit = int(input())
n = int(input())

for i in range(n):
    if total <= limit:
        total += int(input())
        count = i
print(count)

50
5
20
20
20
2

In [7]:
limit = int(input())
n = int(input())
friends = []

for i in range(n):
    friends.append(int(input()))

total = 0
for i in range(len(friends)):
    total += friends[i]
    print(total,limit)
    if total > limit:
        print(i)
        break

50
5
20
20
20
20
20
20 50
40 50
60 50
2

In [18]:
#문제 41

n = int(input())
if n == 1:
      print("NO")
elif (n%2==0) or (n%3==0) or n%5 ==0:
    if n // 2 == 1 or n // 3 == 1 or n // 5 == 1:
        print("YES")
    else:
        print("NO")
else:
    print("YES")

1
NO

In [30]:
def check_prime(n):
    i = 2
    while i < n:
        if n % i == 0:
            break
        i = i + 1
    if i == n:
        print("YES")
    else:
        print("NO")
check_prime(int(input()))

5
YES

In [32]:
x = int(input())
for i in range(2, x//2+1):
    if x == 1:
        print("소수가 아닙니다.")
    if x == 2:
        print('소수입니다.')
    if x % i == 0:
        print('소수가 아닙니다.')
        break
else:
    print('소수입니다.')

1
소수입니다.