<a href="https://colab.research.google.com/github/nayeon-hub/daily-python/blob/main/python100%EC%A0%9C(42~50).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#문제 42
import datetime

m = int(input())
d = int(input())
def findDay(a,b):
    day = ['MON','TUE','WED','THU','FRI','SAT','SUN']
    print(datetime.date(2020,a,b))
    return day[datetime.date(2020,a,b).weekday()]
print(findDay(m,d))

5
3
2020-05-03
SUN

In [14]:
#문제 43
#2진수 2로 나눈 나머지로 이루어진다.
a = int(input())
b = []
while a:
    b.append(str(a%2))
    a = int(a / 2)
b.reverse()
print(b)
print(''.join(b))

23
['1', '0', '1', '1', '1']
10111

In [19]:
#문제 44
n = input()
m = []
for i,j in enumerate(n):
  m.insert(i,int(j))
print(sum(m))

18234
18

In [24]:
n = input()
result = 0
for i in n:
  result += int(i)
print(result)

18234
18

In [30]:
#문제 45

import time
print(time.strftime('%Y'))
t = time.time()
t = int(t//(3600*24*365))+1970
print(t)

2021
2021

In [36]:
#문제 46

result = 0
for i in range(1,101):
  for j in str(i):
    result += int(j)
print(result)

901

In [38]:
s = ''
for i in range(101):
    s += str(i)
result = 0
for i in s:
    result += int(i)
print(result)

901

In [40]:
#문제 47

people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]
print(set(people))
print(len(set(people)))

{('이호', '01050443904'), ('이호준', '01050442903'), ('이준', '01050412904'), ('이호상', '01051442904'), ('이준호', '01050342904')}
5

In [45]:
#문제 48
a = input()
b = []
for i in a:
    if i.upper() == i:
       b.append(i.lower())
    else:
      b.append(i.upper())
print(''.join(b))

AAABBBCCddd
aaabbbccDDD

In [2]:
a = input()
b = []
for i in a:
    if i.islower():
        b.append(i.upper())
    else:
        b.append(i.lower())
for i in b:
    print(i,end="")

ddwWWEr
DDWwweR

In [4]:
#문제 49

n = list(map(int,input().split()))
n.sort()
print(n[-1])

10 9 8 7 6 5 4 3 2 1
10

In [5]:
print(sorted(n)[-1])

10

In [25]:
#문제 50
def bubble(n,data):
    for i in range(n-1):
        for j in range(n-i-1):
            print(j)
            if data[j] > data[j+1]:
                data[j],data[j+1] = data[j+1],data[j]
                print(data)
            else:
                print(data)
    for i in range(n):
        print(data[i], end = ' ')
n = int(input())
data =list(map(int,input().split()))
bubble(n,data)

5
7 4 5 1 3
0
[4, 7, 5, 1, 3]
1
[4, 5, 7, 1, 3]
2
[4, 5, 1, 7, 3]
3
[4, 5, 1, 3, 7]
0
[4, 5, 1, 3, 7]
1
[4, 1, 5, 3, 7]
2
[4, 1, 3, 5, 7]
0
[1, 4, 3, 5, 7]
1
[1, 3, 4, 5, 7]
0
[1, 3, 4, 5, 7]
1 3 4 5 7