<a href="https://colab.research.google.com/github/nayeon-hub/daily-python/blob/main/python_100%EC%A0%9C(10~25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#문제 10

n = int(input())
for i in range(1,n+1):
    print(" "*(n-i) + ("*" *((2*i)-1)))

5
    *
   ***
  *****
 *******
*********

In [ ]:
#문제 11
s = 0
for i in range(1,101):
    s += i
print(s)

5050

In [ ]:
#문제 12
class Wizard:
    def __init__(self, health, mana, armor):
        self.건강 = health
        self.마나 = mana
        self.아르모 = armor
 
    def attack(self):
        print('파이어볼')

x = Wizard(health=545, mana=210, armor=10)
# x.stats()
print(x.건강, x.마나, x.아르모)
x.attack()

545 210 10
파이어볼

In [ ]:
#문제 13

solar_sys = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']
p = int(input("몇번째 행성: "))
print(solar_sys[p-1])

몇번째 행성: 2
금성

In [ ]:
#문제 14

n = int(input())
if n % 3 == 0:
    print("짝")
else:
    print(n)

30
짝

In [ ]:
#문제 15

name = input("이름: ")
if name == "김다정":
    print(f"안녕하세요 저는 {name}입니다.")
    print('안녕하세요 저는 {}입니다.' .format(name))

이름: 김다정
안녕하세요 저는 김다정입니다.
안녕하세요 저는 김다정입니다.

In [ ]:
#문제 16

n = input()
print(n[::-1])

거꾸로
로꾸거

In [ ]:
#문제 17

h = int(input())
if h >= 150:
    print("YES")
else:
    print("NO")

143
NO

In [ ]:
#문제 18

a,b,c = map(int,input("점수: ").split())
print((a+b+c)//3)

data = list(map(int,input("점수: ").split()))
print(sum(data)//3)
print(int(sum(data)/3))

점수: 30 30 30
30
점수: 40 40 40
40
40

In [ ]:
#문제 19

a, b = map(int,input("두 수를 입력하시오: ").split())
print(a**b)

n = list(map(int,input().split()))
print(n[0]**n[1])

두 수를 입력하시오: 2 4
16
2 4
16

In [ ]:
#문제 20

data = list(map(int,input().split()))
print(data[0]//data[1],data[0]%data[1])

10 2
5 0

In [ ]:
#문제 21
x = {} #set이 아닌 dict 만드는 방법
print(type(x))

<class 'dict'>

In [ ]:
#문제 22

i = int(input())
print(i % 6 == 0)

6
True

In [ ]:
#문제 23
print(10/2)

5.0

In [ ]:
#문제 24
name = input()
print(name.upper())
print(name.lower())

nayeon
NAYEON
nayeon

In [ ]:
#문제 25

r = int(input())
def area(r):
  PI = 3.14  
  return r*r*PI
print(area(r))
#입력-> 원의넓이함수로 반환

def solution(n):
  return n*n*3.14
print(solution(int(input())))

4
50.24
4
50.24