<a href="https://colab.research.google.com/github/nayeon-hub/daily-python/blob/main/python_%EC%96%95%EC%9D%80%EB%AC%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
나이 = 10
print(나이.bit_length())
print(bin(나이))

4
0b1010

In [81]:
#str
#시퀀스형 자료형
#index, indexing

설명 = "위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)"
print(설명[0])
print(설명[1])

위
니

In [ ]:
#slicing
#변수이름[start:stop:step]

print(설명[:3])
print(설명[:6])

위니브
위니브 월드

In [ ]:
캣의_생년월일 = '2220.02.22'
생년 = 캣의_생년월일[:4]
월 = 캣의_생년월일[5:7]
일 = 캣의_생년월일[8:]
print(생년, 월, 일)

2220 02 22

In [86]:
숫자 = '123456789101112'
print(숫자[::-1])
print(숫자[::2])
print(숫자[1:7:2])
print(숫자[7:1:-1])
print(숫자[-1])

211101987654321
13579012
246
876543
2

In [84]:
print(설명)
print(type(설명))
'''
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
'''

위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)
<class 'str'>

"\n['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']\n"

In [100]:
숫자.count('1')
설명.upper()
설명.lower()
'               hello world'.lstrip()
'               hello world'.strip()
'                 hello world'.replace(' ','')
설명.index('각')
# 설명[설명.index('각')]
# 설명.find('각')
# 설명.find('똬!') #-1반환

8

In [ ]:
#bool

육식 = True
초식 = True
print(type(육식))
print(dir(육식))

<class 'bool'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [104]:
#list, tuple, dict, set

훈장 = []
기술 = ['고기잡이','고기팔기']
print(type(기술))
print(dir(기술))
'''
<class 'type'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', 
'__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__',
'__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__',
 '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__',
  '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__',
   '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__',
    '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index',
     'insert', 'pop', 'remove', 'reverse', 'sort']
'''

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

"\n<class 'type'>\n['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']\n"

In [123]:
잡은물고기 = ['광어','고등어','오징어','오징어','광어',
         '광어','고등어','고등어','백상아리','금붕어']
print(잡은물고기[0])
print(잡은물고기[0:3])
print(잡은물고기[0:7:2])
잡은물고기[-1] = '백상아리'

광어
['광어', '고등어', '오징어']
['광어', '오징어', '광어', '고등어']

In [126]:
잡은물고기.count('백상아리')
잡은물고기.append('백상아리')
잡은물고기
# 잡은물고기.clear() 비우기
# 잡은물고기.copy()
잡은물고기.extend(['광어'])
잡은물고기

['광어',
 '고등어',
 '오징어',
 '오징어',
 '광어',
 '광어',
 '고등어',
 '고등어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '백상아리']

In [ ]:
잡은물고기.index('백상아리')
잡은물고기.insert(3,"백상아리")
잡은물고기
잡은물고기.pop() 
#pop안에 index를 넣어서 지울 수 있다.
#dle 잡은물고기[0]
잡은물고기

['광어',
 '고등어',
 '오징어',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '오징어',
 '광어',
 '광어',
 '고등어',
 '고등어',
 '백상아리',
 '백상아리',
 '백상아리']

In [ ]:
잡은물고기.remove('백상아리')
잡은물고기

['광어', '고등어', '오징어', '오징어', '광어', '광어', '고등어', '고등어', '백상아리', '백상아리', '백상아리']

In [ ]:
잡은물고기.reverse()
잡은물고기

['백상아리', '백상아리', '백상아리', '고등어', '고등어', '광어', '광어', '오징어', '오징어', '고등어', '광어']

In [ ]:
잡은물고기.sort()
잡은물고기

['고등어', '고등어', '고등어', '광어', '광어', '광어', '백상아리', '백상아리', '백상아리', '오징어', '오징어']

In [128]:
잡은물고기_튜플 = ('고등어', '고등어', '고등어', '광어', '광어', '광어', '백상아리', '백상아리', '백상아리', '오징어', '오징어')
잡은물고기_튜플
print(type(잡은물고기_튜플))
print(dir(잡은물고기_튜플))
잡은물고기_튜플[::-1]
# 잡은물고기_튜플[0]

<class 'tuple'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

('오징어', '오징어', '백상아리', '백상아리', '백상아리', '광어', '광어', '광어', '고등어', '고등어', '고등어')

In [ ]:
#{'key':'value'}

잡은물고기_딕셔너리 = {'광어':3,'고등어':3,'오징어':2,'백상아리':3}

In [ ]:
잡은물고기_딕셔너리['광어']

3

In [ ]:
잡은물고기_딕셔너리['광어']
del 잡은물고기_딕셔너리['고등어']
잡은물고기_딕셔너리

{'광어': 3, '백상아리': 2, '오징어': 2}

In [ ]:
print(type(잡은물고기_딕셔너리))
print(dir(잡은물고기_딕셔너리))

<class 'dict'>
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
잡은물고기_딕셔너리.items()

dict_items([('광어', 3), ('오징어', 2), ('백상아리', 2)])

In [ ]:
잡은물고기_딕셔너리.values()

dict_values([3, 2, 2])

In [ ]:
잡은물고기_딕셔너리.keys()

dict_keys(['광어', '오징어', '백상아리'])

In [ ]:
잡은물고기_딕셔너리_복사 = 잡은물고기_딕셔너리.copy()
잡은물고기_딕셔너리_복사['백상아리'] = 10
잡은물고기_딕셔너리_복사

{'광어': 3, '백상아리': 10, '오징어': 2}

In [ ]:
잡은물고기_딕셔너리

{'광어': 3, '백상아리': 5, '오징어': 2}

In [ ]:
#잡은물고기_딕셔너리_복사 -> 잡은물고기_딕셔너리 -> {'광어':4,'백상아리':5,'오징어':2}
#잡은물고기_딕셔너리_복사 -> {'광어':4,'백상아리':5,'오징어':2}
# 잡은물고기_딕셔너리 -> {'광어':4,'백상아리':3,'오징어':2}

In [ ]:
잡은물고기

['고등어', '고등어', '고등어', '광어', '광어', '광어', '백상아리', '백상아리', '백상아리', '오징어', '오징어']

In [ ]:
test = set(잡은물고기)#중복 없음 허락하지 않음
test

{'고등어', '광어', '백상아리', '오징어'}

In [ ]:
잡은물고기_집합 = {'고등어','광어','대왕오징어','고등어'}
잡은물고기_집합

{'고등어', '광어', '대왕오징어'}

In [ ]:
print(type(잡은물고기_집합))
print(dir(잡은물고기_집합))

test.difference(잡은물고기_집합)
test.intersection(잡은물고기_집합)
test.union(잡은물고기_집합)

<class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

{'고등어', '광어', '대왕오징어', '백상아리', '오징어'}

In [ ]:
set('aaabbbccccc')

{'a', 'b', 'c'}

In [ ]:
print("bool('test') : ",bool('test!'))
print("bool(1) : ",bool(1))
print("bool(0) : ",bool(0))
print("bool(-1) : ",bool(-1))
print("bool(' ') : ",bool(' '))
print("bool('') : ",bool(''))
print("bool(None) : ",bool(None))

[97,90,80,None,99]

bool('test') :  True
bool(1) :  True
bool(0) :  False
bool(-1) :  True
bool(' ') :  True
bool('') :  False
bool(None) :  False

[97, 90, 80, None, 99]

In [ ]:
print(f'bool[1,2,3] : {bool([1,2,3])}')
print(f'bool[1,2,3] : {bool([])}')

bool[1,2,3] : True
bool[1,2,3] : False

In [ ]:
tuple([1,2,3])

(1, 2, 3)

In [ ]:
t = (1,2,3)
list(t)

[1, 2, 3]

In [ ]:
dict([('key1','value1'),('key2','value2'),('key3','value3')])

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
x = input('좋아하는 숫자를 입력하세요 : ')
x

좋아하는 숫자를 입력하세요 : 10

'10'

In [ ]:
print('hello', end='!')
print('hello', end='!')
print('hello', end='!')
print('hello', end='!')
print('hello', end='!')

hello!hello!hello!hello!hello!

In [ ]:
이름 = '캣'

print('1. 제 이름은', 이름, '입니다. 제 나이는 ',나이, '입니다.')
print(f'2. 제이름은 {이름}입니다. 제 나이는 {나이}입니다.')
print('3. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름,나이))
print('4. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름,나이))

1. 제 이름은 캣 입니다. 제 나이는  10 입니다.
2. 제이름은 캣입니다. 제 나이는 10입니다.
3. 제 이름은 캣입니다. 제 나이는 10입니다.
4. 제 이름은 캣입니다. 제 나이는 10입니다.

# 2장 생선을 잡아라!

##2.1 산술연산자

In [3]:
오늘_잡은_물고기 = 0
오늘_판_물고기 = 0
매출 = 0

In [4]:
오늘_잡은_물고기 = 오늘_잡은_물고기 + 10
오늘_판_물고기 = 오늘_잡은_물고기
재고 = 오늘_잡은_물고기 - 오늘_판_물고기
매출 = 오늘_판_물고기 * 100 #모든 물고기는 100원 입니다.

In [5]:
print(f'나는 오늘 {오늘_잡은_물고기} 마리를 잡았고 {오늘_판_물고기} 마리를 팔았다냥')
print(f'오늘 재고는 {재고} 마리다냥')
print(f'오늘 {매출} 원을 벌었으니 내일은, {매출*2} 원을 벌테다!')
print('오늘', 매출,'원을 벌었으니 내일은', 매출*2,'원을 벌테다!')

나는 오늘 10 마리를 잡았고 10 마리를 팔았다냥
오늘 재고는 0 마리다냥
오늘 1000 원을 벌었으니 내일은, 2000 원을 벌테다!
오늘 1000 원을 벌었으니 내일은 2000 원을 벌테다!

In [6]:
# A등급 : 1000원, B등급 : 500원, C등급: 100원
# 오늘 잡은 물고기 : A등급 5마리, B등급 7마리, C등급 10마리

A등급 = 5
B등급 = 7
C등급 = 10
매출 = 0

In [7]:
#손님의 주문
#A등급 2마리, B등급 3마리 주세요.
#받은 돈 = 4000원

등급별_가격 = {'A등급':1000, 'B등급': 500, 'C등급' : 100}

A등급 = A등급 - 2
B등급 = B등급 - 3 
합계 = (등급별_가격['A등급'] * 2) + (등급별_가격['B등급'] * 3)
받은_돈 = 4000

print(f'감사합니다. 여기 거스름 돈 {받은_돈 - 합계}원 입니다.')

재고 = A등급 + B등급 + C등급
매출 = 매출 + 합계

print(f'현재 매출 : {매출}, 재고 : {재고}')

감사합니다. 여기 거스름 돈 500원 입니다.
현재 매출 : 3500, 재고 : 17

In [8]:
세금 = 매출/4
순익 = 매출 - 세금

매출, 세금, 순익

(3500, 875.0, 2625.0)

In [13]:
# 산술연산자 정리

10 / 3 #float 
10 // 3 #int 몫
10 * 3
3 ** 3
10 % 2 #나머지

0

In [17]:
오늘_잡은_물고기 += 10 #할당연산
오늘_잡은_물고기

50

In [18]:
오늘_잡은_물고기
오늘_판_물고기
# == 값,타입 동시에 보는 python
# === 값, 타입을 동시에 보는 javascript
# == 값만 보는 javascript

10

In [19]:
# 논리 연산자

# True + False
a = True
b = False
a and a #논리곱(*)
a and b

a or a #논리 합(+)
a or b

not a

False

In [21]:
오늘_잡은_물고기 = 10
오늘_판_물고기 = 10
전날_매출 = 10000
오늘_매출 = 20000

if (오늘_잡은_물고기 == 오늘_판_물고기) and (전날_매출*2 <= 오늘_매출):
  print('오늘 물고기 판매 끝!')
  print('매출 목표 달성!')
else:
  print('오늘의 목표를 달성하지 못했습니다.')

오늘 물고기 판매 끝!
매출 목표 달성!

In [23]:
x = 10

if x%3 == 0 and x%5 ==0:
  print('3과 5의 공배수입니다.')
else:
  print('3과 5의 공배수가 아닙니다.')

3과 5의 공배수가 아닙니다.

In [26]:
# 비트 연산자

a = 10
b = 2
print(a & b)

2

In [24]:
bin(10), bin(2)

('0b1010', '0b10')

In [ ]:
1010 -> 10
0010 -> 2
----
# 0010 -> 2

In [27]:
print(b<<2) #왼쪽으로 밀기

8

In [29]:
# 10 -> 2
# 1000 -> 8 (2)
# 1 -> 1 (1)

In [30]:
print(3>>1)

1

In [32]:
a^b
# 1010
# 0010
# ----
# 1000 -> 값이 다르면 1 ---> 8
a,b

(10, 2)

In [33]:
~a #1을 더해주고 -해주는 값

-11

In [36]:
a, bin(a), bin(~a)

(10, '0b1010', '-0b1011')

# 비트연산, 할당연산, 식별연산, in구문

In [37]:
10 + 10

20

In [38]:
bin(10+10)

'0b10100'

In [44]:
a = 40
b = 14
a & b #bit AND
#101000
#001110
#-> 001000
# bin(a), bin(b)

8

In [42]:
a = 40
b = 14
a | b #bit OR

#101000
#001110
#101110

#bin(a), bin(b)

46

In [45]:
a = 40
b = 14
a^b #bit XOR : 다를 때만 1, 같을 때에는 0

#101000
#001110
#101110 

#bin(a), bin(b)

38

In [48]:
a = 40
b = 14
~a #bit NOT(2의 보수)

#101000
#010111 #비트단위를 뒤짚었음!


#bin(a), bin(b)

-41

#연습문제

In [73]:
#1번 문제

캣의_통장 = 1000000
물고기의_가격 = 30
잡은_물고기의_수 = 110 + 120 + 130 + 140 + 150 + 160 + 170 + 180 + 190 + 200
물고기를_팔고_난_후_캣의_통장 = 1000000 + 잡은_물고기의_수 * 물고기의_가격

In [59]:
잡은_물고기의_수,물고기를_팔고_난_후_캣의_통장

(1550, 1046500)

In [60]:
잡은_물고기의_수 = (110+200) * 10 //2
잡은_물고기의_수

1550

In [64]:
list(range(110, 201, 10))
sum(list(range(110,201,10)))

1550

In [65]:
잡은_물고기의_수 = sum([110, 120, 130, 140, 150, 160, 170, 180, 190, 200])
잡은_물고기의_수

1550

In [69]:
format(물고기를_팔고_난_후_캣의_통장, ',') #format 함수

'1,046,500'

In [71]:
#2번 문제

반지름 = 500
고기가_잘_잡히는_반경 = (반지름**2)*3.14
고기가_잘_잡히는_반경

785000.0

In [74]:
#3번문제
물고기를_팔고_난_후_캣의_통장 += (고기가_잘_잡히는_반경 - 314) * 110 * 물고기의_가격

In [75]:
format(물고기를_팔고_난_후_캣의_통장, ',') #format 함수

'2,590,510,300.0'

In [79]:
# 4번 문제

#A등급은 350마리, B등급은 700마리
문제4_물고기_등급 = {'A등급':100, 'B등급':50}
문제4_잡은_물고기의_수 = {'A등급':350, 'B등급':700}

문제4_총액_A등급 = 문제4_물고기_등급['A등급'] * 문제4_잡은_물고기의_수['A등급'] 
문제4_총액_B등급 = 문제4_물고기_등급['B등급'] * 문제4_잡은_물고기의_수['B등급']

문제4_총액 = 문제4_총액_B등급 + 문제4_총액_A등급

문제4_비율 = {'A등급':문제4_총액_A등급/문제4_총액*100, 'B등급':문제4_총액_B등급/문제4_총액*100}
문제4_비율

{'A등급': 50.0, 'B등급': 50.0}

# 효율적으로 생선 잡기

In [110]:
def 낚시():
    print('A등급 생선을 한 마리 잡았습니다.')
print('B등급 생선을 한 마리 잡았습니다.')

def 그물():
    print('A등급 3마리, B등급 3마리, C등급 4마리를 잡았습니다.')

def 통발():
    print('문어를 하나 잡았습니다.')

#함수 호출하기
낚시()
그물()
통발()

B등급 생선을 한 마리 잡았습니다.
A등급 생선을 한 마리 잡았습니다.
A등급 3마리, B등급 3마리, C등급 4마리를 잡았습니다.
문어를 하나 잡았습니다.

In [111]:
def function(x, y):
  z = x + y
  return z

print('오늘 잡은 생선 : ',function(10,9))

오늘 잡은 생선 :  19

In [112]:
print(낚시())

A등급 생선을 한 마리 잡았습니다.
None

In [113]:
def 계산(가격, 개수):
    return 가격 * 개수

print(계산(1000,5),'원입니다.')

5000 원입니다.

In [117]:
#A등급 : 1000원, B등급 : 500원, C등급 : 100원

def 계산(a,b,c):
    가격 = {'A등급':1000, 'B등급' : 500, 'C등급':100}
    합계 = a*가격['A등급'] + b*가격['B등급'] + c*가격['C등급']
    return 합계
print(계산(5,2,3), '원입니다.')

6300 원입니다.

In [119]:
##상수

PI = 3.14
def circle(r):
    z = r*r*PI
    return z
result = circle(10)
print(result)

314.0

In [138]:
## global, 전역변수
A등급 = 0

def 낚시():
    global A등급
    A등급 += 1
    
낚시()
낚시()
낚시()
print(f'잡은 A등급 물고기는 {A등급}마리 입니다.')

잡은 A등급 물고기는 3마리 입니다.

In [139]:
## global, 전역변수
A등급 = 0

def 낚시(물고기):
    물고기 += 1
    return 물고기
    
A등급 = 낚시(A등급)
A등급 = 낚시(A등급)
A등급 = 낚시(A등급)
print(f'잡은 A등급 물고기는 {A등급}마리 입니다.')

잡은 A등급 물고기는 3마리 입니다.

In [141]:
## 함수 안에 함수 만들기

def print_text():
    text = '생선을 잡아보자!'
    def txt():
        print(text)
    txt()
print_text()

생선을 잡아보자!

In [148]:
def 생선잡기():

    물고기 = {'A등급':0,'B등급':0,'C등급':0}
    def 낚시():
        물고기['A등급'] += 1
    def 그물():
        물고기['A등급'] += 3
        물고기['B등급'] += 3
        물고기['C등급'] += 4
    def 통발():
        물고기['문어'] = 1
    
    낚시()
    그물()
    통발()

    return 물고기

생선잡기()
# sum(생선잡기().values())

{'A등급': 4, 'B등급': 3, 'C등급': 4, '문어': 1}

In [145]:
##dictionary는 함수 안에서도 값의 수정이 가능합니다!
물고기 = {'A등급':0,'B등급':0,'C등급':0}
def 낚시():
    물고기['A등급'] += 1
낚시()
물고기

{'A등급': 1, 'B등급': 0, 'C등급': 0}

In [152]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x * factorial(x-1)

factorial(5)

# 5 * factorial(4)
# 4 * factorial(3)
# 3 * factorial(2)
# 2 * factorial(1)
# 1

# 5*4*3*2*1

120

In [156]:
# if, elif, else

if False : 
    print('one')
elif True : 
  print('two') #if가 false이기 때문에 그 다음에 충족되는 조건을 만나면 실행되고 나머지 남은 코드는 무시
elif True : 
  print('three')
elif True : 
  print('four')
else : 
  print('five')
#세트여서 하나만 출력해도 끝!

two

In [161]:
def 계산(a,b,c):
    가격 = {'A등급':1000,'B등급':500,'C등급':100}
    합계 = a*가격['A등급'] + b*가격['B등급'] + c*가격['C등급']
    return 합계

총합 = 계산(10,2,3)
print(총합)
if 총합 >= 20000: #21000 True
    print('20% 할인을 해주겠다냥!')
    print(f'총 {int(총합 * 0.8)}노드를 내면 된다냥!') #20% 할인
elif 총합 >= 10000: #9000 True 
    print('10% 할인을 해주겠다냥!')
    print(f'총 {int(총합 * 0.9)}노드를 내면 된다냥!') #10% 할인
elif 총합 >= 5000:
    print('5% 할인을 해주겠다냥!')
    print(f'총 {int(총합 * 0.95)}노드를 내면 된다냥!') #5% 할인
else:
    print(f'총 {총합}노드를 내면 된다냥!')

11300
10% 할인을 해주겠다냥!
총 10170노드를 내면 된다냥!

##연습문제

In [178]:
#1번 연습문제

회원명 = input('회원명 입력하세요 : ')
회원 = ['A캣','B캣','C캣']

def 회원등록(이름):
    회원.append(이름)

if 회원명 in 회원:
    print("이미 등록된 회원입니다.")
else:
    회원등록(회원명)
    print('회원으로 등록되었습니다.')
print(회원)

회원명 입력하세요 : D캣
회원으로 등록되었습니다.
['A캣', 'B캣', 'C캣', 'D캣']

In [176]:
#2번 연습문제

구매가격 = input('가격을 입력하세요 : ')
회원명 = input('회원명을 입력하세요 : ')
회원 = ['씨-캣','자바캣','파이캣','썬캣','애옹']

if 회원명 in 회원:
    print("회원입니다.")
    print(f"15000노드 중 {int(int(구매가격)*0.1)}노드가 적립됩니다.")
else:
    print("회원이 아닙니다. 회원가입을 해주시기 바랍니다.")

가격을 입력하세요 : 10000
회원명을 입력하세요 : 씨-캣
회원입니다.
15000노드 중 1000노드가 적립됩니다.

In [194]:
#3번 연습문제

구매가격 = int(input('가격을 입력하세요: '))
회원명 = input('회원명을 입력하세요: ')

회원 = {'씨-캣': 5000,'자바캣': 3500,'파이캣': 15000,'썬캣': 7000}



if 회원명 in 회원: #딕셔너리도 가능
    if 회원[회원명] >= 10000:
      print(f"적립금을 사용할 수 있습니다. 현재 적립금액은 {회원[회원명]}")
      사용포인트 = int(input("사용할 적립금 노드를 입력하세요: "))
      결재할금액 = 구매가격 - 사용포인트
      남은적립금 = 회원[회원명] - 사용포인트
      회원[회원명] = 남은적립금 + 결재할금액 * 0.1
      print(f"{사용포인트}노드를 사용하였습니다. 남은 적립금은 {남은적립금}노드입니다. 결제금액은 {결재할금액}원 입니다.")
    else :  
      print(f"현재 적립금이 {회원[회원명]}노드이므로 아직 적립금을 사용할 수 없습니다.")
      print(f"결재금액은 {구매가격}노드이고, 적립포인트는 {int(구매가격*0.1)}노드, 합산 포인트는 {int(남은적립금)}원 입니다. ")
      남은적립금 = 회원[회원명]+ 구매가격*0.1
print(회원)

가격을 입력하세요: 10000
회원명을 입력하세요: 파이캣
적립금을 사용할 수 있습니다. 현재 적립금액은 15000
사용할 적립금 노드를 입력하세요: 5000
5000노드를 사용하였습니다. 남은 적립금은 10000노드입니다. 결제금액은 5000원 입니다.
{'씨-캣': 5000, '자바캣': 3500, '파이캣': 10500.0, '썬캣': 7000}

In [199]:
#4번 문제

def 배수(n):
    def 적립(value):
        return (value * 0.1) * n
    return 적립

Feb = 배수(2)
Mar = 배수(3) 

print('2월 적립금 이벤트 :',Feb(5000))
print('3월 적립금 이벤트 :',Mar(15000))

2월 적립금 이벤트 : 1000.0
3월 적립금 이벤트 : 4500.0

#라이캣의 EXIT

In [203]:
for x in (1,2,3,4,5): #튜플
  print(f'고등어 포장 {x}번째 입니다.')

고등어 포장 1번째 입니다.
고등어 포장 2번째 입니다.
고등어 포장 3번째 입니다.
고등어 포장 4번째 입니다.
고등어 포장 5번째 입니다.

In [205]:
for x in [1,2,3,4,5]: #리스트
  print(f'고등어 포장 {x}번째 입니다.')

고등어 포장 1번째 입니다.
고등어 포장 2번째 입니다.
고등어 포장 3번째 입니다.
고등어 포장 4번째 입니다.
고등어 포장 5번째 입니다.

In [206]:
for x in '1,2,3,4,5': #문자열
  print(f'고등어 포장 {x}번째 입니다.')

고등어 포장 1번째 입니다.
고등어 포장 ,번째 입니다.
고등어 포장 2번째 입니다.
고등어 포장 ,번째 입니다.
고등어 포장 3번째 입니다.
고등어 포장 ,번째 입니다.
고등어 포장 4번째 입니다.
고등어 포장 ,번째 입니다.
고등어 포장 5번째 입니다.

In [208]:
왕국 = '위니브 월드'
for a in 왕국:
    print(a)
print('------------')

위
니
브

월
드
------------

In [210]:
기술 = ['고기잡이','고기팔기','낚시_Lv1','통발_Lv1','큰그물_Lv1']
for a in 기술:
  print(a)
  print(a[0:2])

고기잡이
고기
고기팔기
고기
낚시_Lv1
낚시
통발_Lv1
통발
큰그물_Lv1
큰그

In [216]:
기술 = ['낚시_Lv1','통발_Lv1','큰그물_Lv1']
for a in 기술:
  print(a)
  print(a[:-4]) #거꾸로!
  print(a[:a.find('_')])
print('------------')

낚시_Lv1
낚시
낚시
통발_Lv1
통발
통발
큰그물_Lv1
큰그물
큰그물
------------

In [217]:
캣의_상태창 = {
    '이름':'캣',
    '설명':'위니브 월드에서 가장 급성장하는 생산회사 대표 캣',
    '나이' : '19',
    '키':'45.9cm',
    '몸무게': 1.6
}

for a in 캣의_상태창:
    print(a, 캣의_상태창[a])

이름 캣
설명 위니브 월드에서 가장 급성장하는 생산회사 대표 캣
나이 19
키 45.9cm
몸무게 1.6

In [222]:
캣의_상태창.items()

dict_items([('이름', '캣'), ('설명', '위니브 월드에서 가장 급성장하는 생산회사 대표 캣'), ('나이', '19'), ('키', '45.9cm'), ('몸무게', 1.6)])

In [220]:
for a, b in 캣의_상태창.items():
    print(f'{a}:{b}')

이름:캣
설명:위니브 월드에서 가장 급성장하는 생산회사 대표 캣
나이:19
키:45.9cm
몸무게:1.6

In [224]:
for a in 캣의_상태창.items():
    print(f'{a[0]}:{a[1]}')

이름:캣
설명:위니브 월드에서 가장 급성장하는 생산회사 대표 캣
나이:19
키:45.9cm
몸무게:1.6

In [227]:
# range(start,stop,step)
print(type(range(2, 10, 2)))
print(list(range(10))) #stop 값만 있는 상태
print(list(range(5, 0, -1)))
print(list(range(2, 10)))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 4, 3, 2, 1]
[2, 3, 4, 5, 6, 7, 8, 9]

In [229]:
listx = [100,200,300,400]
strix = 'abcd'
listxlter = iter(listx)
strixlter = iter(strix)
print(next(listxlter),next(listxlter),next(listxlter),next(listxlter))
print(next(strixlter),next(strixlter),next(strixlter),next(strixlter))

100 200 300 400
a b c d

In [231]:
## for, else

for i in range(5): #100일때, 5일때,
    print(f'{i}마리의 물고기를 잡았습니다.')
    if i == 10:
        print('만선입니다.')
        break
else:
    print("아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.")
print("수고하셨습니다.")

0마리의 물고기를 잡았습니다.
1마리의 물고기를 잡았습니다.
2마리의 물고기를 잡았습니다.
3마리의 물고기를 잡았습니다.
4마리의 물고기를 잡았습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

In [235]:
## list comprehension

l = []

for i in range(1,101):
    l.append(i)

ll = [i for i in range(1, 101)]
# ll

In [236]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [238]:
i = [f'{i}*{j}={i*j}'for i in range(2,10) for j in range(1,10)]
i

['2*1=2',
 '2*2=4',
 '2*3=6',
 '2*4=8',
 '2*5=10',
 '2*6=12',
 '2*7=14',
 '2*8=16',
 '2*9=18',
 '3*1=3',
 '3*2=6',
 '3*3=9',
 '3*4=12',
 '3*5=15',
 '3*6=18',
 '3*7=21',
 '3*8=24',
 '3*9=27',
 '4*1=4',
 '4*2=8',
 '4*3=12',
 '4*4=16',
 '4*5=20',
 '4*6=24',
 '4*7=28',
 '4*8=32',
 '4*9=36',
 '5*1=5',
 '5*2=10',
 '5*3=15',
 '5*4=20',
 '5*5=25',
 '5*6=30',
 '5*7=35',
 '5*8=40',
 '5*9=45',
 '6*1=6',
 '6*2=12',
 '6*3=18',
 '6*4=24',
 '6*5=30',
 '6*6=36',
 '6*7=42',
 '6*8=48',
 '6*9=54',
 '7*1=7',
 '7*2=14',
 '7*3=21',
 '7*4=28',
 '7*5=35',
 '7*6=42',
 '7*7=49',
 '7*8=56',
 '7*9=63',
 '8*1=8',
 '8*2=16',
 '8*3=24',
 '8*4=32',
 '8*5=40',
 '8*6=48',
 '8*7=56',
 '8*8=64',
 '8*9=72',
 '9*1=9',
 '9*2=18',
 '9*3=27',
 '9*4=36',
 '9*5=45',
 '9*6=54',
 '9*7=63',
 '9*8=72',
 '9*9=81']

In [239]:
i = [f'{i}*{j}={i*j}'for i in range(2,10) for j in range(1,10) if i% 2 == 0]
i

['2*1=2',
 '2*2=4',
 '2*3=6',
 '2*4=8',
 '2*5=10',
 '2*6=12',
 '2*7=14',
 '2*8=16',
 '2*9=18',
 '4*1=4',
 '4*2=8',
 '4*3=12',
 '4*4=16',
 '4*5=20',
 '4*6=24',
 '4*7=28',
 '4*8=32',
 '4*9=36',
 '6*1=6',
 '6*2=12',
 '6*3=18',
 '6*4=24',
 '6*5=30',
 '6*6=36',
 '6*7=42',
 '6*8=48',
 '6*9=54',
 '8*1=8',
 '8*2=16',
 '8*3=24',
 '8*4=32',
 '8*5=40',
 '8*6=48',
 '8*7=56',
 '8*8=64',
 '8*9=72']

In [242]:
#다중 리스트 for문
skill = [('고기잡이',100,'SS'),
         ('고기팔기',120,'SSS'),
         ('낚시',5,'C'),
         ('통발',100,'C'),
         ('큰그물',100,'C')]
for skillName, skillLevel, skillGrade in skill:
    print(skillName,skillLevel,skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 100 C
큰그물 100 C

In [248]:
#enumerate

skill = [('고기잡이',100,'SS'),
         ('고기팔기',120,'SSS'),
         ('낚시',5,'C'),
         ('통발',100,'C'),
         ('큰그물',100,'C')]

for i, (skillName, skillLevel, skillGrade) in enumerate(skill,1):
    print(i, skillName,skillLevel,skillGrade)

for i,j in enumerate(skill, 100):
    print(i,j)

1 고기잡이 100 SS
2 고기팔기 120 SSS
3 낚시 5 C
4 통발 100 C
5 큰그물 100 C
100 ('고기잡이', 100, 'SS')
101 ('고기팔기', 120, 'SSS')
102 ('낚시', 5, 'C')
103 ('통발', 100, 'C')
104 ('큰그물', 100, 'C')

In [249]:
for i in range(5):
    num = int(input("고등어 몇 개를 구매하실 건가요?"))
    result = num * 5000
    print(result," 원 입니다.")
print("로봇이 종료되었습니다. 삐빅.")

고등어 몇 개를 구매하실 건가요?3
15000 원 입니다.
고등어 몇 개를 구매하실 건가요?5
25000 원 입니다.

KeyboardInterrupt: ignored

In [251]:
#while문

a = 1
while a < 10:
    print(a)
    a += 1
print('종료되었습니다')

1
2
3
4
5
6
7
8
9
종료되었습니다

In [254]:
for i in range(5):
    num = int(input("고등어 몇 개를 구매하실 건가요?"))
    if num == -1:
        break
    result = num * 5000
    print(result," 원 입니다.")
print("로봇이 종료되었습니다. 삐빅.")

고등어 몇 개를 구매하실 건가요?-1
로봇이 종료되었습니다. 삐빅.

In [261]:
fish = 5
while True:
    num = int(input("고등어 몇 개를 구매하실 건가요?"))
    if fish >= num:
        fish = fish - num
        print("고등어",fish,"개 남았습니다.")
        if fish == 0:
            print('완판되었습니다.')
            break
    else:
        print("손님, 죄송하지만 구매할 수 있는 고등어가",fish,"개 남았습니다.")

고등어 몇 개를 구매하실 건가요?3
고등어 2 개 남았습니다.
고등어 몇 개를 구매하실 건가요?6
손님, 죄송하지만 구매할 수 있는 고등어가 2 개 남았습니다.
고등어 몇 개를 구매하실 건가요?2
고등어 0 개 남았습니다.
완판되었습니다.

In [262]:
for i in range(2,10):
    for j in range(1,10):
        if j > 5:
            break # 내 위에 있는 반복문만 빠져나옴
        print(f'{i}X{j}={i*j}')

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45

In [267]:
## continue, pass

x = 10
if x > 10:
    pass
print('hello')

def test():
    pass #나중에 구현할 것을 명시해줌

hello

In [270]:
#continue

구매개수_총가격 = [
            (3, 15000),
            (5, 25000),
            (1, 5000),
            (8, 40000),
            (0, 0),
            (2, 10000)
]

for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        continue #실행하지 않고 넘어가게 됨
        # pass
    print('구매개수는 {}개이며 {}원입니다.'.format(구매개수,총가격))

구매개수는 3개이며 15000원입니다.
구매개수는 5개이며 25000원입니다.
구매개수는 1개이며 5000원입니다.
구매개수는 8개이며 40000원입니다.
구매개수는 2개이며 10000원입니다.

In [275]:
try: #실행문
    i = 1
    j = 0
    x = i/j
except: #예외 발생시 실행문
    print("error")
else: #나머지 실행문
    print(x)

#else는 if뿐만 아니라 while,for과 매핑되기도 한다. 예외처리 할때도 사용

error

In [278]:
temp = 0

for i in range(10):
    for j in range(10):
        for k in range(10):
            temp+=1
print(temp)

1000

#연습문제

In [297]:
#1번문제

신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31,
}
sum = 0
for i in 신하.values():
  sum += i
print(sum)

# 모든_신하의_합 = 0
# for i in 신하:
#     print(f'{i} : {신하[i]}')
#     모든_신하의_합 += 신하[i]
# print(모든_신하의_합)

1543

In [298]:
#2번문제
출전 = 0
수호 = 0
for i in 신하.values():
    if i >= 100:
      출전 += i
    else:
      수호 += i
print(f"출전 인원: {출전}, 수호 인원: {수호}")
#3번문제
print(int(출전*0.2)+수호)

모든_신하의_합 = 0
출전하는_신하 = 0
왕국을_수호하는_신하 = 0

# for i in 신하:
#     print(f'{i}:{신하[i]}')
#     모든_신하의_합 += 신하[i]
#     if 신하[i] >= 100:
#         출전하는_신하 += 신하[i]
#     else : 
#         왕국을_수호하는_신하 += 신하[i]

# print(f'모든_신하의_합 : {모든_신하의_합}')
# print(f'출전하는_신하 : {출전하는_신하}')
# print(f'왕국을_수호하는_신하 : {왕국을_수호하는_신하}')

출전 인원: 1362, 수호 인원: 181
453
하이에나:1121
코뿔소:122
코끼리:88
기린:119
독수리:62
고양이:31
모든_신하의_합 : 1543
출전하는_신하 : 1362
왕국을_수호하는_신하 : 181